table {
    width: 100%;
    border-collapse: collapse;
    min-width: 50rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  td{
    color: black;
    background-color: white;

  }
  
  th {
    background-color: black;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  