<form [formGroup]="filterForm" (ngSubmit)="onFilterChange()">
  <div>
    <label for="author">Auteur:</label>
    <input id="author" formControlName="author" />
  </div>
  <div>
    <label for="content">Inhoud:</label>
    <input id="content" formControlName="content" />
  </div>
  <div>
    <label for="date">Datum:</label>
    <input id="date" formControlName="date" type="date" />
  </div>
  <div>
  <button class="filter-button" type="submit">Filteren</button>
</div>
</form>



@if (posts.length === 0) { 
  <div class="no-posts">Geen posts gevonden.</div>
}

@for (post of posts; track post) {
  <div class="post">
    @if (isEditing && selectedPostId === post.id) {
      <h2>Bewerk Post</h2>
      <form [formGroup]="postForm" (ngSubmit)="savePost()">
        <label for="title">Titel</label>
        <input id="title" formControlName="title" required />

        <label for="content">Content</label>
        <textarea id="content" formControlName="content" required></textarea>

        <button type="submit" [disabled]="postForm.invalid">Opslaan</button>
        <button type="button" (click)="cancelEdit()">Annuleren</button>
      </form>
    }

    @if (!isEditing || selectedPostId !== post.id) {
      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>
      <p><strong>Author:</strong> {{ post.author }}</p>
      <p><strong>Date:</strong> {{ post.date }}</p>
      @if (post.status === 'DRAFT') {
        <div>
          <button (click)="publishPost(post.id)">Publiceer Post</button>
        </div>
      }
      @if (userRole !== 'gebruiker'){
        <button (click)="editPost(post)">Bewerk</button>
      }
    }
  </div>
}
