.navbar {
  padding: 15px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff; /* Witte tekstkleur */
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: green; /* Gouden kleur bij hover */
}

@media (max-width: 768px) {
  .navbar-links {
      flex-direction: column;
      align-items: center;
  }

  .navbar-links li {
      margin: 10px 0;
  }
}
